/**
 * @name callSetup
 * @description Turns Settings Windows like User-/Channel-/Serversettings and Boost Overview into Modals
 * @author DevilBro
 * @version 1.0.0
 * @authorId 278543574059057154
 * @invite Jx3TjNS
 * @updateUrl https://mwittrien.github.io/BetterDiscordAddons/Themes/SettingsModal/SettingsModal.theme.css
 */

 @import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/SettingsModal/SettingsModal.css);

div.wrapper_bd2abe.minimum_ebf000 {
	height: 100%;
	max-height: none;
}

.border_e782de.speaking__1dd69 {
	box-shadow: inset 0 0 0 2px var(--status-speaking),inset 0 0 0 3px greenyellow
}
.container-ZMc96U {
    height: 0px;
    overflow: hidden;
}

.quickSelect_ae48d2 {
    height: 0px;
    overflow: hidden;
}

.topControls_d202b0 {
    visibility: hidden;
}

.bottomControls__8bd89{
    height: 0px;
    overflow: hidden;
}

.root__3eef0 {
    background-color: greenyellow;
    display: inline-flex;
    /* margin-left: auto; */
    justify-items: right;
    margin-top: 10px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
